.App {
  background: lightgray;
  // font-family: 'Barlow Semi Condensed', sans-serif;
  // font-family: monospace;
  padding: 60px;
}

.Name {
  font-size: 60px;
  font-weight: bold;
}

.Difference {
  font-size: 50px;
}

.Score {
  font-size: 100px;
}
