.Row {
  display: flex;
  // border: 1px solid red;

  &.vcenter {
    align-items: center;
  }

  &.hcenter {
    justify-content: center;
  }

  &.xcenter {
    align-items: center;
    justify-content: center;
  }
}

.Col {
  display: flex;
  flex-direction: column;
  // border: 1px solid lime;

  &.vcenter {
    justify-content: center;
  }

  &.hcenter {
    align-items: center;
  }

  &.xcenter {
    align-items: center;
    justify-content: center;
  }
}
